$Instock-Black: #13182C;
$Slate: #5C667E;
$Graphite: #232940;
$Green: #158463;
$Instock-Indigo: #2E66E5;
$Cloud: #BDC5D5;
$Light-Grey: #F7F8F9;
$Red: #C94515;
$White: #FFFFFF;

// Border Shorthands
$border-divider: $Cloud solid 1px;
$border-focus: $Instock-Indigo solid 1px;
$border-error: $Red solid 1px;



// variables for breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// mixins for each breakpoint in the responsive design

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}