@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.popup-overlay{
    background-color: rgba($color: $Instock-Black, $alpha: 0.7)
}

.popup {
    padding: 1rem;
    background-color: $White;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @include tablet {
        height: 35vh;
        padding: 0 3rem 3rem 3rem;
        margin: 0 2.5rem;
    }

    @include desktop{
        padding: 0 4rem 3rem 4rem;
        width: 90vh;
    }

    &__title {
    @include page-header-mobile;
    margin-top: 2rem;

    @include tablet{
        @include page-header-desktop;
    }
    }

    &__content {
    @include body-medium-mobile;
    margin: 1rem 0;

    @include tablet{
        @include body-medium-desktop;
        width: 80%;
    }
    }

    &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet{
        justify-content: flex-end;
    }
    }

    &__close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 7px;
    top: 7px;
    font-size: 1.5rem;
    background-color: $White;
    border: none;

    @include tablet{
        right: 3rem;
    }
    }

  &__button-delete{
    @include body-small-mobile;
    color: $White;
    background-color: $Red;
    height: 2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;

    @include tablet{
        @include body-small-desktop;
        width: auto;
        height: 2.25rem;
        }
    }

    &__button-cancel{
        @include body-small-mobile;
        color: $Cloud;
        background-color: $White;
        height: 2rem;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        border: 1px solid $Cloud;
        cursor: pointer;
        margin-right: 0.5rem;

        @include tablet{
            @include body-small-desktop;
            width: auto;
            height: 2.25rem;
        }
    }
  
  
}