@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.popup-overlay{
    background-color: rgba($color: $Instock-Black, $alpha: 0.7);
}
.popup {
    padding: 1.5rem 1rem;
    background-color: $White;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
        height: 16.6875rem;
        padding: 0 4rem 2.5rem 4rem;
        margin: 0 3rem;
    }
    @include desktop {
        padding: 0 4rem 3rem 4rem;
        width: 90vh;
    }
    &__title {
        @include page-header-mobile;
        margin-top: 2.5rem;
        color: $Instock-Black;
        @include tablet{
            @include page-header-desktop;
        }
    }
    &__content {
        @include body-large-mobile;
        margin: 1rem 0;
        @include tablet{
            @include body-large-desktop;
            width: 100%;
        }
    }
    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: flex-end;
        }
    }
    &__close {
        cursor: pointer;
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        right: 1.75rem;
        top: 0.75rem;
        font-size: 1.5rem;
        background-color: $White;
        border: none;
        @include tablet {
            right: 4.75rem;
        }
    }
    &__button-delete {
        @include label-buttons-mobile;
        color: $White;
        background-color: $Red;
        height: 2.25rem;
        padding: 0.425rem 1rem 0.825rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        margin-left: 0.5rem;
        &:hover {
            background-color: $Instock-Black;
        }
        @include tablet {
            @include label-buttons-desktop;
            width: auto;
            height: 2.375rem;
        }
    }
    &__button-cancel {
        @include label-buttons-mobile;
        color: $Cloud;
        background-color: $White;
        height: 2.25rem;
        padding: 0.425rem 1rem 0.825rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        border: 1px solid $Cloud;
        cursor: pointer;
        margin-right: 0.5rem;
        &:hover {
            color: $Instock-Indigo;
            border-color: $Instock-Indigo
        }
        @include tablet {
            @include label-buttons-desktop;
            width: auto;
            height: 2.375rem;
        }
    }
  
  
}