@use './partials/typography' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
}

html,
body{
    font-family: 'Titillium', 'Arial', sans-serif;
}

button {
    cursor: pointer;
}

img {
    cursor: pointer;
}