@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $Light-Grey;
    height: 130vw;

    &__text{
        padding: 2rem 0;
        color: $Slate;
        @include body-small-mobile;

        @include tablet{
            padding-top: 4rem;
            @include body-small-desktop;
        }
    }
}