@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *; 

.inventory {
    border-top: 1px solid $Cloud;
    padding: 1rem;
    padding-bottom: 2.5rem;
    position: relative;
    height: 12rem;
    background-color: $White;

    @include tablet {
        padding: 1rem 2rem;
        height: unset;
    }
    @include desktop {
        padding: 1rem 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include tablet {
            flex-direction: row;
            flex-wrap: unset;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        &--header {
            @include table-header-mobile;
            color: $Slate;
            font-weight: bold;
            margin-bottom: 0.2rem;

            @include tablet {
                display: none;
            }
        }
        &--spacing {
            margin-right: 4rem;

            @include tablet {
                margin-right: unset;
                width: 15%;
            }
        }
        &--tablet {
            @include tablet {
                width: 15%;
            }
        }
        &--color {
            @include body-small-mobile;
            color: $Instock-Indigo;
            padding-bottom: 1rem;
            font-weight: bold;

            @include tablet {
                @include body-small-desktop;
                color: $Instock-Indigo;
                font-weight: bold;
                padding-bottom: unset;
                // margin-right: 2rem;
            }
        }
        &--details {
            @include body-small-mobile;
            color: $Instock-Black;
            margin-bottom: 0.2rem;

            @include tablet {
                @include body-small-desktop;
                color: $Instock-Black;
                margin-bottom: unset;
            }
        }
        &--stock {
            @include body-small-mobile;
            color: $Green;
            padding: 0.1rem 0.2rem;
            font-weight: bold;
            background-color: $Light-Grey;
            border-radius: 2.375rem;
            margin-bottom: 0.8rem;

            @include tablet {
                @include body-small-desktop;
                font-weight: bold;
                background-color: $Light-Grey;
                color: $Green;
                margin-bottom: unset;
                width: 4rem;
            }
        }
        &--link {
            @include tablet {
                width: 50%;
            }
        }
        &--firstcolumn {
            @include tablet {
                width: 100%;
            }
        }
        &--wrapper {
            @include tablet {
                width: 100%;
            }
        }
        &--container {
            @include tablet {
                display: flex;
            }
        }
    }
}


// Styling for icons
.icons {
    @include tablet {
        display: flex;
        align-items: flex-end;
        width: 15%;
        text-align: end;
    }
}

.icon {
    position: absolute;

    &__right {
        bottom: 8.5rem;
        left: 4.2rem;

        @include tablet {
            bottom: 1.25rem;
            left: 5.2rem;
        }
        // @include desktop {
        //     bottom: 1.25rem;
        //     left: 5.2rem;
        // }
    }
    &__delete {
        bottom: 1rem;
        left: 1rem;

        @include tablet {
            position: static;
        }
    }
    &__edit {
        bottom: 1rem;

        @include tablet {
            margin-left: 1rem;
            margin-bottom: 0.1rem;
            position: static;
        }
    }
}

a {
    text-decoration: none;
}